<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PetVet - Kvalitní zdravotnické služby pro Vaše mazlíčky</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Domů</a></li>
        <li><a href="/sjednat-schuzku/">Sjednat schůzku</a></li>
        <li><a href="/nasi-veterinari/">Naši veterináři</a></li>
        <li><a href="/kontakty/">Kontakty</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
