{% extends 'pet_vet/base.html'%} {% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">
      Kontakty
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iste odio,
      eos debitis quas dolores nisi fugiat commodi ipsa a consequuntur sapiente
      voluptatem repellat eaque quos? Suscipit accusamus veniam magni.
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">
      Kde nás najdete
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iste odio,
      eos debitis quas dolores nisi fugiat commodi ipsa a consequuntur sapiente
      voluptatem repellat eaque quos? Suscipit accusamus veniam magni. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Placeat quia amet cum
      minima, dolore ducimus quos quae excepturi ipsum recusandae exercitationem
      rerum quibusdam neque esse obcaecati officiis nisi odio vel.
    </p>
  </div>
</section>
{% endblock %}
