<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/"><strong>PetVet/</strong>&nbsp;<small>veterinární klinika</small></a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'home' %}">Domů</a>
      <a class="navbar-item" href="{% url 'veterinarian-list' %}">Naši veterináři</a>
      <a class="navbar-item" href="{% url 'contact' %}">Kontakty</a>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{% url 'appointment-create' %}">
            <strong>Sjednat schůzku</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>